:root {
  --firstColor: #6fd9fd;
  --secondColor: #7bf1e0;
  --whiteColor: #ffffff;
  --darkColor: #292929;
  --greyColor: #f9fafc;
}

.navbar-custom { 
  background-color: var(--firstColor);
  .navbar-nav .nav-link {
    color: #fff;
    &:hover {
      color: var(--secondColor);
    }
  }
  .activeLink {
    color: var(--secondColor) !important;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}