.cardComponent {
  margin-top: 2rem;
  .imageContent {
    margin-right: 1rem;
    width: 21vw;
    height: 30vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: white;
    }
  }
  .infosContent {
    width: 80%;
    max-width: 80%;
    // height: 30vw;
    // background-color: red;
    .title {
      margin-bottom: 0.8rem;
      font-size: 22px;
      font-weight: bold;
    }
    .price {
      margin-bottom: 0.8rem;
      font-weight: bold;
      font-style: italic;
    }
  }
  p {
    text-align: justify;
  }
}