.sumaryComponent {
  margin: 1rem;
  text-align: center;
  .imageContent {
    margin-bottom: 1rem;
    width: 12vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: white;
    }
  }
}